<mat-card *ngIf="seedchild">
  <mat-card-title>Seedchild Form</mat-card-title>
  <mat-card-content>
    <mat-form-field class="full-width">
      <input matInput #characterCountInputHintExample maxLength="50" name="name" [(ngModel)]="seedchild.name" placeholder="Enter Name">
      <mat-hint align="end" aria-live="polite">
        {{characterCountInputHintExample.value.length}} / 50
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Description" name="description" [(ngModel)]="seedchild.description"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Select" name="gender" [(ngModel)]="seedchild.gender" [(value)]="seedchild.gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Toppings" [(ngModel)]="seedchild.toppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
<!--#form-parents -->
    <mat-form-field class="full-width">
      <mat-select placeholder="Seedparent" [(ngModel)]="seedchild.seedparent">
        <mat-option *ngFor="let seedparent of seedparents" [value]="seedparent">{{seedparent.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="seedchild.dob" name="dob">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [(ngModel)]="seedchild.az" (ngModelChange)="onChange(seedchild.az)"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let fruit of seedchild.fruits" [selectable]="selectable" [removable]="removable" (remove)="remove(fruit)">
          {{fruit}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New fruit..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addChip($event)">
      </mat-chip-list>
    </mat-form-field>
    <p>
      <mat-slide-toggle aria-label="Married" [(ngModel)]="seedchild.married" name="married"></mat-slide-toggle>
    </p>
    <button mat-raised-button color="primary" (click)="addSeedchild()" *ngIf="addNew">
      Add
    </button>
    <button mat-raised-button color="accent" (click)="updateSeedchild()" *ngIf="!addNew">
      Update
    </button>
    <button mat-raised-button color="warn" (click)="deleteSeedchild()" *ngIf="!addNew">
      Delete
    </button>
  </mat-card-content>
</mat-card>