.mat-sidenav {
  min-width: 25vw;
  padding: 2rem;
  .mat-button {
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 24px 0;
  }
}

.mat-toolbar {
  .mat-icon {
    cursor: pointer;
  }
  display: flex;
  flex-direction: row wrap;
  .spacer{
    flex: 1 1 auto;
  }
}

@media screen and (max-width: 480px){
  display: flex;
  flex-direction: column;
}