/* You can add global styles to this file, and also import other style files */
@import './theme/theme';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-purple, 700);
$custom-accent:  mat-palette($mat-lime, 900);
$custom-warn:    mat-palette($mat-red);

//$custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);

// ALTERNATIVE THEME

$alt-primary: mat-palette($mat-yellow);
$alt-accent:  mat-palette($mat-grey, 200);

$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

.alternative {
    @include angular-material-theme($alt-theme);
}


body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 62.5%;
    // Helps fonts on OSX looks more consistent with other systems
    // Isn't currently in button styles due to performance concerns
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .mat-toolbar{
      @include box-shadow(0px, 2px, 3px, rgba(111,111,111,0.59));
    }

}
.ngx-datatable.material{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}